:root {
  --main-title-color: #fff;
  --second-title-color: #303030;
  --main-btn-color: #fff;
  --second-btn-color: #303030;
  --typical-lh: 1.36;
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: "inherit";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.pre-title {
  font-weight: 600;
  font-size: 1.36;
  line-height: var(--typical-lh);
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----header----*/

.header {
  background-color: gray;
}

.header-navigation {
}

.header-logo {
}

.header-list {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus {
  color: #ff6c00;
}

.header-item {
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.header-btn {
  color: var(--main-btn-color);
}

/*----hero----*/

.hero {
  background-color: #747781;
}

.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  letter-spacing: 0.2em;
  color: #303030;
}

.hover-link:is(:hover, :focus) {
  color: #ff6c00;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*----about----*/

.about {
}
.about-list {
}
.about-item {
}
.about-pre-title {
  color: #303030;
}
.about-title {
  color: var(--second-title-color);
}
.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

.prices {
  background-color: #1b1818;
}
.prices-pre-title {
  color: #303030;
}
.prices-title {
  color: var(--main-title-color);
}
.prices-list {
}
.prices-item {
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #fff;
}

/*--benefits--*/
.benefits {
}
.benefits-list {
}

.benefits-item {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;

  color: #303030;
}
.benefits-pre-title {
  color: #303030;
}
.benefits-title {
  color: #303030;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*----barbers----*/

.barbers {
}
#barbers {
}
.barbers-pre-title {
  color: #303030;
}
.barbers-title {
  color: var(--second-title-color);
}
.barbers-list {
}
.barbers-item {
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/*----gallerey----*/
.gallery {
}
.gallery-pre-title {
  color: #303030;
}
.gallery-title {
}
.gallery-list {
}
